@media (max-width: 1260px) and (min-width: 750px){
		.video_view{
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 49px;
		.video-js{

			height: 189px;

		}
		.vjs-poster{
			background-size: auto;
		}
	.video_box{
		margin-bottom: 18px;
		width: 330px;
		
		/*margin-bottom: 50px;*/
	/*	.myvideo{
			width: 330px;
			
		}*/
		div{
			
			.vjs-control-bar{
				
					display: none;
				
				
			}
			
		}
		

		p{
				height: 60px;
				line-height: 60px;
				width: 330px;
			}
		

	}
}


	.technical-form{
		margin-top: 36px;
		.p{
			
			
			font-size: 15px;
			span{
				display: flex;
				width: 100%;

				flex-direction: column;
				margin-left: 0;
				input{
					margin: 20px 0;
					width: 100%;
					
					height: 50px;
				}
				input:first-child{
					margin-left:0px;
				}
			}
			
		}
		.technical-form_span{
			flex-wrap: wrap;
			span{
					padding-top: 20px;
					width: 100%;
					display: block;
					font-size: 15px;
				}
			textarea{

				margin-top: 20px;
				height: 128px;
				width: 100%;
				margin-left: 0;
				border:none;
			}
		}
		.technical-form_button{
			width: 100%;
			button:first-child{
				margin-left:40%;
			}

			button{
				width: 100px;
				height: 40px;
				line-height: 40px;
			}
		}
		
	}
	.porject_Personnel{
/*	position: relative;
	z-index: 99;*/
		margin-top: 45px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		.item{
			width: 24%;

			
			.img{
				width: 100%;
				height: 234px;
				img{
					width: 100%;
					max-height: 360px;
				}
			}
			p{
				color: #333333;
				padding-top: 24px;
				text-align: center;
			}
		}
	}
	.job_span{
		flex-wrap: wrap;
		height: 120px;
		padding-bottom: 50px;
		justify-content: space-around;
		span{
			width: 45% !important;
			margin-bottom: 10px;
		}
	}
	.sale_box{
		display: block;
		.item{
			display: inline-block;
			width: 45%;
			margin-bottom: 30px;
			margin-right: 30px;
		}
	}
	.case{
		ul{
			align-items: center;
			display: flex;
			justify-content: space-between;

			li{

			font-size: 18px;
			margin-left: 10px;
			}
			
		}
		
	}
	.case_box{
		width: 100%;
		justify-content: space-between;
		.item{
			width: 410px;
			margin-right: 0;
		}
		
	}
	.company-container{
		height: 360px;
		&_iteml{
			width: 50%;
			height: 400px;
			img{
				margin-top: 30px;
				width: 100%;
				height: auto;
			}
		}
		&_itemr{
			width: 47%;
			
			.text{
				
				height: 75px;
				overflow: hidden;
				/*border:1px solid red;*/
				/*overflow: hidden;
				text-overflow: ellipsis;*/
			}

		}
		
	}
	.company_box{
		div{
			
		
		
			.title{
				font-size:20px;
				font-weight:bold;
				padding-top: 26px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

			}
			.text{
				color:#666666;
				font-size: 14px;
				padding-top: 37px;
				height: 40px;
				overflow: hidden;
			}
		
		}
	}
	.industry-container{
		
		&_iteml{
			width: 40%;
			height: 300px;
			img{
				margin-top: 40px;
				width: 100%;
				height: auto;
			}
		}
		
	}
	#bottom-pages{
		margin-left: 35%;
	}
	.footerl{
		span{
			display:block;
			width: 60% !important;
		}
	}
	.footerr{
		span{
			margin-left: 30% !important;
			display:block;
			width: 60% !important;
		}
	}
	.product_checkbox{
		p{
			/*white-space: nowrap;
			overflow-y:scroll;*/
			span{
				display: inline-block;
				padding-top: 20px;
			}
		}
	}
	.product{
		ul{
			white-space: nowrap;
				overflow: hidden;
			li{
				margin-right: 20px;

			}
		}
	}
	.product_box{
		.product-div{
			width: 20%;
			.item{
				width: 100%;
				height: auto;
				img{
					width: 100%;
					height: 100%;
				}
			}
			p{
				width: 100%;
				text-align: center;
				font-size: 10px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	.product-div:nth-child(5){
		margin-right: 3.4%;

	}
	.product-div:nth-child(10){
		margin-right: 3.4%;

	}
	.product-div:nth-child(15){
		margin-right: 3.4%;

	}
	.product-div:nth-child(20){
		margin-right: 3.4%;

	}
	}
	.product_detail-box{
		
		.detail-img{
			width: 100% !important;
			height: auto;
			img{
				width: 100%;
				height: auto;
			}
			img:hover{
				cursor: crosshair;
				width: 100%;
				height: auto;
			}
		}
		
	}
	.sale_img{
		height: auto;
	}
	.sale_img img{
		height: auto;
	}
	.certificate{
		.item{
			width: 400px;

		}
	}
}

@media (max-width: 750px){
	.header_logo{
		margin-top: 0;
	}
	.about_coop-div{
		margin-bottom: 0;
		/*background: red;*/
		flex-wrap: wrap;
		span{
			width: 50%;
			margin-bottom: 40px;
			/*background: red;*/
			img{
				width: 80%;
				margin-left: 10%;
			}

		}
	}
	.history_head{
		margin-top: 36px;
		.history_title{
			font-size: 15px;
			
		}
		.history_text{
			color: #666666;
			font-size: 14px;
		}
		
	}
	.history_hiden{
		display: block;
		.history_container-right{
			width: 90%;
			margin-top:149px;
			margin-left: 10px;
		}
		.history_container-left{
			width: 100%;
			margin:60px auto;
			.left_div{
				height: 45px;
				margin:0;
				.left_one{
					font-size: 18px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					+p{
						font-size: 15px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
				
				
			}
			.left_two{
				font-size: 15px;
					width: 100%;
					margin-left:0;

					
				}
		}
		
	}
	.history_shown{
		display: none;
	}
	.about_job{
		.join_title{
			margin-top: 29px;
			font-size: 18px;
		}
		.job_span{
			width: 100%;
			height: 50px;
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			line-height: 50px;
			margin-top: 27px;
			span{
				width:49%;
				border:1px solid rgba(221,221,221,1);
				font-size: 15px;
					color: #666666;
			}
		}
		.job-title{
			margin-top: 85px;
			font-size: 16px;
			font-weight:bold;
			~div{
				margin-top: 17px;
				border-top: 1px solid rgba(221,221,221,1);

				p{
					/*margin:0 auto;
					width: 90%;*/
					line-height: 28px;
					padding-top: 22px;
					font-size: 15px;
					color: #666666;
				}

			}
			+.job-address{
				padding-top: 15px;
				padding-bottom: 51px;
				p{
					padding-top: 0;
				}
				
			}
		}

	}
	.join_box-com{
		display: none;
	}
	.join_box-item{
		width: 99%;
		margin-top: 18px;
		height: 280px;
		a{
			margin-top: 28px;
			border-bottom: 1px solid white;
		}
		.title{
			font-size: 18px;
			padding-top: 20px;
		}
		p{
			font-size: 12px;

		}
		span{
			width: 30px;
			margin-bottom: 17px;
		}

	}
	.join_box-more{
		display: block;
		margin:28px 30%;
		a{
			display: block;
			width: 150px;
			height: 35px;
			text-align: center;
			line-height: 35px;
			border-radius: 20px;
			border:1px solid #DDDDDD;
			color: black;
		}
	}
	.container .join_btn{
		display: none;
	}
	.join_banner{
		width: 100%;
		height: 135px;
		background-size: 100% 100%;
		margin-top: 32px;
		p{
			display: none;
		}

	}
	.join_shownp{
		display: block;
		font-size: 15px;
		color: #333333;
		.op{
			padding: 20px 0;
			~p{
				overflow: hidden;
				white-space: nowrap;
				text-overflow:ellipsis;
			}
		}
	}
	.join_box{
		margin-top: 26px;
	}

	.tp_shown{
		display: block;
		text-align: center;
		margin-top: 32px;
		font-size: 19px;
		font-weight: 500;
		color: #000000;
	}
	.container_right{
		margin-top: 0;
		.one,.two,.three,.four{
			margin-top: 22px;
			font-size: 14px;
		}
		.title{
			display: none;
		}
	}
	.container_left{
		margin-top: 35px;
		.one{
			height: 240px;
			.title{
				font-size: 20px;
				padding-top: 29px;
				text-indent: 20px;

			}
			.head{
				font-size: 18px;
				padding-top: 9px;
				text-indent: 20px;
			}
			.text{
				font-size: 14px;
				
				line-height: 25px;
			}
		}
		.two,.three,.four{
			margin-top: 22px;
			font-size: 14px;
		}
	}
	.tp_top{
		margin-top: 54px;
	}
	.sale_title{
		font-size: 15px;
	}
	.sale_img{
		margin-top: 30px;
		height: auto; /*135px*/
		text-align: center;
		img{
			width: 100%;
			max-height: auto; /*135px*/
		}
	}
	.sale_box{
		flex-wrap: wrap;

		.item{
			width: 100%;
			margin-bottom: 48px;
			span{
				padding-top: 0;
			}
			p{
				width: 100%;
				padding-top:28px;
			}
		}
	}
	#caseBody{
		background: white !important;
	}
	.case{
		margin-bottom: 0;
		margin-top: 30px;
		ul{
			white-space: nowrap;
			overflow-x:scroll;
			li:first-child{
				
				margin-left: 0;
			}
			li{
				font-size: 15px;
				margin-left: 38px;
			}
			li:nth-child(5){
				margin-left: 50px;
			}
		}
		
	}
	.case_box{
		flex-wrap: wrap;
		.descpic{
			width: 100%;
		}
		.item +div{

			margin-top: 30px;
			img{
				width: 100%;
			}
		}
		.item{
			width: 410px;
			height: 214px;
			margin-right: 0;
			.descpic{
				display: none;
			}
		}
		.item +p{
			width: 100%;
			display: block;
			padding: 15px 0;
		}
		.item:hover{
			img{
				opacity: 1;
			
				z-index: 99;
				text-align: center;
				line-height: 254px;
			}
			
			
			
		}


	}
	#bottom-pages{
		width: 100%;
		margin-left: 7%;
		ul{

			margin-left: 0;
			li{
				
				width: 25px;
				height: 25px;
				font-size: 12px;
				a{
					padding:5px 10px;
				}
			}
		}
	}
	.container{
		margin-top:20px;
	}
	._ind{
		height: 0;
	}

	.company-container_itemr{
		width: 100%;
		height: 225px;
		background: white;
		margin-left: 0;
		p{
			width: 90%;
			margin:0 auto;
		}
		.time{
			padding-top: 20px;
			font-size: 12px;
		}
		.title{
			font-size: 16px;
			padding-top: 5px;

		}
		.text{
			padding-top: 20px;
			height: 80px;
			overflow: hidden;
		}
		a{
			width: 100px;
			height: 25px;
			margin-top: 14px;
			margin-left: 5%;
			font-size: 14px;
			line-height: 25px;
		}
	}
	.company-container{
		background: #f5f5f5;
		margin-bottom: 20px;
	}
	/*标注*/
	.company-container_iteml{
		width: 100%;
		height: auto; /*171px*/
		text-align: center;
		margin-bottom: 20px;
		/*overflow: hidden;*/
		img{
			max-width: 100%;
			margin: 0 auto;
			height: auto;

		}
	}
	.company_box{
		margin-bottom: 0;
		div{
			width: 100%;
			height: 225px;
			margin-bottom: 20px;
			.time{
			padding-top: 20px;
			font-size: 12px;
		}
		.title{
			font-size: 16px;
			padding-top: 0;
			color: black;
			font-weight: 500;
			padding-top: 5px;
		}
		.text{
			padding-top: 20px;
			height: 80px;
			overflow: hidden;

		}
		a{
			width: 100px;
			height: 25px;
			margin-top: 14px;
			margin-left: 5%;
			font-size: 14px;
			line-height: 25px;
		}
		}
	}
	.industry-container{
		height: 438px;
		background: #f5f5f5;
		div {
			margin: 0;
			padding: 0;
			width: 100%;
			.time{
				font-size: 12px;
				width: 90%;
				margin: 0 auto;
				padding-top: 27px;
			}
			.title{
				font-size: 16px;
				width: 90%;
				margin: 0 auto;
				padding-top: 5px;
			}
			.text{
				font-size: 14px;
				width: 90%;
				height: 46px;
				margin: 0 auto;
				padding-top: 20px;
			}
			a{
				
				height: 25px;
				margin-top: 26px;
				margin-left: 5%;
				font-size: 14px;
				line-height: 25px;

			}
		}
		.industry-container_itemr{
			height: 200px;
			background: white;
			.text{
				height: 46px;
			}
		}
		.industry-container_iteml{
			height: auto; /*238px*/
			margin-bottom: 21px;
			img{
				height: auto;
			}
		}
	}
	.min-newsnav{
		display: block;
	}
	.min-newstitle{
		display: none;
	}
	.news_detail-time {
		margin-top: 10px;
		font-size: 12px;
	}
	.news_detail-container{
		margin-top: 22px;
		.img{
			margin-top: 21px;
			margin-bottom: 0;
		}
		p{
			padding-top: 23px;
			font-size: 15px;
		}
		.two-img{
			width: 100%;
			height: 183px;
			margin-top: 24px;
			margin-bottom: 0;
			img{
				max-height: 183px;
			}
		}
		.footerl{
			width: 100%;
			margin-top: 38px;
			height: 60px;

			span{
				font-size: 15px;
				width: 100%;
				display: inline-block;
				line-height: 60px;
				img{
					vertical-align: middle;
					margin-left: 15px;
					margin-right: 17px;
					width: 9px;
					height: 14px;
				}
			}
		}
		.footerr{
			width: 100%;
			margin-top: 10px;
			margin-bottom: 47px;
			height: 60px;
			
			span{
				font-size: 15px;
				width: 100%;
				display: inline-block;
				line-height: 60px;
				margin-left: 0;
				text-align: right;
				img{
					vertical-align: middle;
					margin-left: 15px;
					margin-right: 17px;
					width: 9px;
					height: 14px;
				}
			}
		}
	}
	.product{
		margin-bottom: 25px;
		ul{
			    white-space: nowrap;
    			overflow-x: scroll;
    			font-size: 15px;
			li{
				font-size: 15px;
				margin-right: 54.3px;
			}
		}
	}
	.product_checkbox{
		.list{
			width: 100%;
			/*white-space: nowrap;
			overflow-x: scroll;*/
			font-size: 14px;
			padding-bottom: 0;
		}
		span{
			display: inline-block;
			padding-bottom: 10px;
			margin-right: 0;
		}
	}
	.product_box{
		margin-top: 30px;
		justify-content: space-between;

		.product-div{
			width: 40%;
			margin-bottom: 24px;

			img{
				height: 131px;
			}
			p{		
				width: 100%;
				
				overflow: hidden;

					font-size: 14px;
					margin-top: 0;
				}
			
			/*height: 131px;*/
			.item{
				width: 100%;
				height: 131px;
				
			}
		}
		.product-div:nth-child(6){
			display: block;
		}
	}
	.product_detail-box{
		flex-wrap: wrap;
	}
	.product_detail-title{
		margin-top: 32px;
		font-size: 19px;
		width: 100%;

	}
	.product_detail-box{
		.detail-img{
			width: 75%;
			height: 226px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.detail-img +div{
			width: 15%;
			height: 226px;
			margin-left: 0;
			.detail-ul-img{
				width: 100%;
				height: 226px;
				li{
					
					width: 63px;
					height: 51px;
					margin-bottom: 8px;
					img{
						width: 100%;
						height: 100%;
					}
				}
				
			}
			
		}
		.detail-ul{
			margin-left: 0;
			margin-top: 21px;

			p{		
					line-height: 22px;
					font-size: 15px;
					padding-bottom: 0;
			}
		}
	}
	.product_detail-p{
		margin-top: 42px;
		a{
			font-size: 16px;
		}
		
	}
	.product_detail-parameter{
		margin-bottom: 31px;
		div{
			p{
				line-height: 22px;
			}

		}
		
	}
	.nav_container{
		display: none;
		.nav-box{
			display: none;
		}
		.line{
			display: none;
		}
	}
	.porContainer{
		width: 90%;
		.container_nav{
			margin-top: 18px;
			a{
				font-size: 12px;
			}
		}
		.cul_title{
			font-size: 19px;
			margin-top: 31px;
		}
		.porject_title{
			padding-top: 34px;
			font-size: 16px;
			margin-bottom: 20px;
		}
		.porject_Personnel{
			margin-top: 0;
			flex-wrap: wrap;
			.item{
				width: 45%;
				margin-bottom: 20px;
				/*height: 242px;*/
				.img{
					height: 203px;
					img{
						height: 203px;
					}
				}
				
				p{
					font-size: 15px;
					padding-top: 15px;
				}
				p:last-child{
					padding-top: 10px;
				}
			}
		}

	}
	.porject_container{
			margin-top: 0;
			height: auto;
			overflow: hidden;
		.nan{
			height: 305px;
		}
		.item{
			
			width: 90%;
			.p1{
				padding-top: 21px;
				font-size: 16px;

			}
			.p2{
				padding-top: 18px;
				font-size: 15px;
				height: 20px;
				overflow: hidden;
			}
			.table{
				height: 80px;
				table{
					height: 80px;
					width: 100%;
					overflow-x:scroll;
					td{
						font-size: 7px;

					}
					.td1{
						width: 70px;
					}
				}
			}
			.table-p{
				height: 80px;
				overflow: hidden;
			}
			.item2{

				display: block;
				margin-top: 16px;
				.box:first-child{
					width:100%;

				}
				.box:nth-child(3){
					margin-left: 5%;
				}
				.box{
					display: inline-block;
					width: 45%;
					padding-bottom: 15px;
					p{
						font-size: 15px;
						line-height: 23px;
						height: 205px;
						overflow: hidden;
					}
					img{
						width: 100%;
						margin-top: 10px;
					}
				}
			}
		}

	}
	.implementation{
		height: auto;
		margin-bottom: 37px;
		.item{
			width: 90%;
			.p1{
				font-size: 16px;
				margin-top: 31px;
			}
			.p2{
				margin-top: 29px;
				font-size: 15px;
			}
			.div:nth-child(6){

				height: auto;
				padding-bottom: 20px;
				.p4{
					height: 117px;
				}
			}
			.div{
				width: 100%;
				.p3{
					width: 95%;
					margin: 0 auto;
					padding-left: 5%;
					font-size: 15px;
					margin-top: 25px;
					height: 20px;
					overflow: hidden;
				}
				.p4{
					width: 95%;
					overflow: hidden;
					margin: 0 auto;
					padding-left: 5%;
					height: 70px;
					font-size: 15px;
					margin-top: 16px;
				}
				table{
					width: 95%;
					margin: 25px auto;
					td{
						font-size: 8px;
					}
				}
				.picbox{
					margin-top: 14px;
					width: 95%;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;
					.img1{
						width: 210px;
						height: 107px;
						margin-bottom: 11px;
					}
					.img2{
						width: 96px;
						height: 107px;
						margin-bottom: 11px;
					}
					.img3{
						width: 96px;
						height: 107px;
						
					}
					.img4{
						width: 210px;
						height: 107px;
						
					}
				}
			}
		}
	}
	.implementation2{
		margin-bottom: 42px;
		.item{
			width: 90%;
			.p1{
				margin-top: 29px;
				font-size: 16px;
			}
			.p2{
				font-size: 15px;
				margin-top: 21px;
			}
			.box{
				flex-wrap: wrap;
				margin-top: 20px;
				div{
					width: 46%;
					height: 121px;
					margin-bottom: 10px;
				}

			}
		}
	}
	.theatre{
		margin-top: 30px;
		ul{
			white-space: nowrap;
			overflow-x: scroll;
			font-size: 15px;
			li{
				width: auto;
				margin-right: 34px;
			}
		}
	}
	.the_title{
		margin-top: 22px;
		font-size: 19px;
	}
	.theatre_container{
		margin-top: 0;
		.title{
			font-size: 16px;
		}
		.ul{
			margin-top: 22px;
			li{
				padding-top: 5px;
			}
		}
		.ul ~ul {
			li{
				margin-top: 20px;
			}
			
		}
		ul:last-child{
			margin-bottom: 66px;
		}
		li{
			margin: 0;
			padding: 0;
			font-size: 15px;
		}
	}
	.question_div{
		width: 100%;
		padding-left: 0;
		margin-top: 36px;
		margin-bottom: 25px;
		.title{
			text-indent: 13px;
			font-size: 16px;
			height: 20px;
			line-height: 20px;
		}
		.text{
			padding-left: 13px;
			margin-top: 19px;
			height: 122px;
			overflow: hidden;
		}
		a{
			width: 100px;
			height: 25px;
			line-height: 25px;
			margin-top: 18px;
			margin-left: 10px;
			font-size: 14px;
			img{
				width: 8px;
				height: 8px;
				vertical-align: middle;
			}
		}
	}
	#bottom-pages{
		margin-bottom: 50px;
	}
	.tech_text {
		._ind{
			height: 40px;
		}
	}
	.text-box{
		height: 300px;
		flex-wrap: wrap;
		margin-bottom: 20px;
		margin-top: 20px;
		.detail{
			height: auto;
			width: auto;
			margin-left: 0;
			border-left: 0px;
			a{
			width: 100px;
			height: 25px;
			line-height: 25px;
			margin-top: 18px;
			margin-left: 15px;
			font-size: 14px;
			img{
				width: 8px;
				height: 8px;
				vertical-align: middle;
			}
		}
		
		}
		.item{
			width: 100%;
			.title{
				font-size: 16px;
				font-weight: 600;
			}
			.text{
				font-size: 14px;
				height: 150px;
				overflow: hidden;
			}
		}
	}
	.technical-title{
		font-size: 15px;
	}
	.technical-call{
		margin-top: 21px;
		font-size: 16px;
		font-weight: 550;
	}
	.technical-img{
		margin-top: 22px;
	}
	.technical-form{
		margin-top: 36px;
		.p{
			
			
			font-size: 15px;
			span{
				display: flex;
				width: 100%;

				flex-direction: column;
				margin-left: 0;
				input:first-child{
					margin-left:0px;
				}
				input{
					margin: 20px 0;
					width: 100%;
					
					height: 50px;
				}
			}
			
		}
		.technical-form_span{
			flex-wrap: wrap;
			span{
					padding-top: 20px;
					width: 100%;
					display: block;
					font-size: 15px;
				}
			textarea{

				margin-top: 20px;
				height: 128px;
				width: 100%;
				margin-left: 0;
				border:none;
			}
		}
		.technical-form_button{
			width: 100%;
			
				margin-left:15%;
				margin-right: 0;

			button{
				width: 100px;
				height: 40px;
				line-height: 40px;
			}
		}
		
	}
	.video_view{
		width: 100%;

		margin-top: 49px;
		.video-js{
			height: 189px;

		}
		.vjs-poster{
			background-size: auto;
		}
	.video_box{
		margin-bottom: 18px;
		width: 330px;
		
		/*margin-bottom: 50px;*/
	/*	.myvideo{
			width: 330px;
			
		}*/
		div{
			
			.vjs-control-bar{
				
					display: none;
				
				
			}
			
		}
		

		p{
				height: 60px;
				line-height: 60px;
				width: 330px;
			}
		

	}
}
	.certificate{
	margin-top: 31px;
	justify-content: space-between;

	.item{
		margin-bottom: 17px;
		width: 45%;
		height: 91px;
		margin-right: 0;
		border:1px solid rgba(229,229,229,1);
		.pic{
			width: 115px;
			height: 86px;
			margin: 0 auto;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}
}

}