<!--<?php
include_once gettpl('top');
print <<<EOT
-->
<div class="f-tac f-mb10 f-fs14">欢迎光临 PHPVOD $version $vertype 系统设置面板，版权所有&copy;2009-2099 phpvod.com</div>
<table class="tableborder f-w98 f-m0a">
	<tr>
		<th class="header">系统公告</th>
	</tr>
	<tr>
		<td class="f-tac f-lh2" style="line-height: 2em;">
			<script src="http://service.phpvod.com/index.php?module=notice&charset=$db_charset"></script> $sitemsg_script
		</td>
	</tr>
</table>
<br />
<table class="tableborder f-w98 f-m0a">
	<tr>
		<th colspan="2" class="header">系统信息</th>
	</tr>
	<tr>
		<td class="f-w50">
			程序版本: <a href="http://www.phpvod.com" target="_blank" title="点击查询您目前使用的版本信息"><b>PHPVOD</b></a> v$version $vertype
		</td>
		<td>
			服务器端信息: $server_info[server_software]
		</td>
	</tr>
	<tr>
		<td>
			PHP版本: $server_info[php_version]
		</td>
		<td>
			MySQL版本: $server_info[db_version]
		</td>
	</tr>
	<tr>
		<td>
			处理器: $server_info[processor_identifier]
		</td>
		<td>
			服务器所在时间: $server_info[system_time]
		</td>
	</tr>
	<tr>
		<td>
			最大上传限制: $server_info[max_upload]
		</td>
		<td>
			最大执行时间: $server_info[max_ex_time]
		</td>
	</tr>
	<tr>
		<td>
			Cookie 测试: $server_info[cookie]
		</td>
		<td>
			邮件支持模式: $server_info[system_mail]
		</td>
	</tr>
	<tr>
		<td>
			PHPVOD数据库占用: $server_info[pv_size] M
		</td>
		<td>
			非PHPVOD数据库占用: $server_info[other_size] M
		</td>
	</tr>
</table>
<br />
<table class="tableborder f-w98 f-m0a">
	<tr>
		<th colspan="2" class="header">PHPVOD 官方</th>
	</tr>
	<tr>
		<td width="50%">
			官方网站: <a href="http://www.phpvod.com" target="_blank">http://www.phpvod.com</a>
		</td>
		<td>
			官方论坛: <a href="http://bbs.phpvod.com" target="_blank">http://www.phpvod.com/forum.php</a>
		</td>
	</tr>
	<tr>
		<td>
			官方演示: <a href="http://vod.phpvod.com" target="_blank">http://vod.phpvod.com</a>
		</td>
		<td>
			技术支持: PHPVOD Team &nbsp; QQ: 19855462 &nbsp; Email: <a href="mailto:phpvod@qq.com">phpvod@qq.com</a>
		</td>
	</tr>
</table>
<!--
EOT;
include_once gettpl('adminbottom');
?>
-->