<!--<?php
print <<<EOT
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$db_wwwname} - powered by phpvod.com</title>
		<meta http-equiv="Content-Type" content="text/html; charset=$db_charset">
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/jquery.cookie.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="$imgpath/admin/admincp.js"></script>
		<link rel="stylesheet" type="text/css" href="{$admincp_style}" />
<!--
EOT;
?>
