<!--<?php
include_once gettpl('top');
print <<<EOT
-->
<form action=$basename method="post" name="form1">
	<input type="hidden" name="action" value="del">
	<table class="tableborder f-w98 f-m0a">
		<tr>
			<td class="header" colspan="6">视频举报信管理</td>
		</tr>
		<tr class="field f-tac">
			<td width="5%"><input type="checkbox" onclick="check_all(this,'selid');"></td>
			<td width="6%">ID</td>
			<td width="20%">视频名称</td>
			<td width="15%">反映用户</td>
			<td width="10%">报告类型</td>
			<td>原因</td>
		</tr>
<!--
EOT;
foreach($reportdb as $report){
print <<<EOT
-->
		<tr class="f-tac">
			<td><input type="checkbox" name="selid[]" value="$report[id]"></td>
			<td>$report[id]</td>
			<td><a href="read.php?vid=$report[vid]" target="_blank">$report[subject]</a></td>
			<td>$report[username]</td>
			<td>$report[type]</td>
			<td>$report[reason]</td>
		</tr>
<!--
EOT;
}print <<<EOT
-->
	</table>
	<div class="pages">$pages</div>
	<center>
		<input type="submit" name="hello" value="删 除">
	</center>
</form>
<!--
EOT;
include_once gettpl('adminbottom');
?>
-->