<!--<?php
include_once gettpl("css");
print <<<EOT
-->
</head>
<body>
	<table class="top f-w100">
		<tr>
			<td class="f-w25"><a href="http://www.phpvod.com" target="_blank">关于PHPVOD</a></td>
			<td class="f-w25"><a href="http://www.phpvod.com/forum-2-1.html" target="_blank">检查最新版本</a></td>
			<td class="f-w25"><a href="http://www.phpvod.com/forum-7-1.html" target="_blank">PV用户交流</a></td>
			<td class="f-w25"><a href="$db_wwwurl" target="_blank">我的首页</a></td>
		</tr>
	</table>
	<br />
<!--
EOT;
?>