<style type="text/css">
.bs-left-container .nav-stacked>.active>a {
    background: rgba(33,33,33,.05);
    color: #424242;
}
.bs-left-container .nav-stacked>.active>a:hover {
    background: rgba(33,33,33,.05);
    color: #424242;
}
</style>
<div class="bs-left-container affix-top clearfix">
    <div class="leconMenu clearfix">
        <ul class="nav-stacked">
            <!--{if $_GET[do]=='stats'}-->
        
            <li class="<!--{if !$time}-->active<!--{/if}-->"> 
                <a href="{DZZSCRIPT}?mod=taskboard&op=list&tbid=$tbid&do=stats&type=$type"><span class="dzz dzz-settings"></span>进度</a>
            </li>
            <li class="<!--{if $time=='month'}-->active<!--{/if}-->"> 
                <a href="{DZZSCRIPT}?mod=taskboard&op=list&tbid=$tbid&do=stats&time=month&type=$type"><span class="dzz dzz-settings"></span>月报</a>
            </li>
            <li class="<!--{if $time=='week'}-->active<!--{/if}-->">
                <a href="{DZZSCRIPT}?mod=taskboard&op=list&tbid=$tbid&do=stats&time=week&type=$type"><span class="dzz dzz-settings"></span>周报</a>
            </li>
            <li class="<!--{if $time=='day'}-->active<!--{/if}-->">
                <a href="{DZZSCRIPT}?mod=taskboard&op=list&tbid=$tbid&do=stats&time=day&type=$type"><span class="dzz dzz-settings"></span>日报</a>
            </li>
        
            <!--{elseif $_GET[do]=='recycle'}-->
            <li class="<!--{if $type=='task'}-->active<!--{/if}-->">
                <a href="{DZZSCRIPT}?mod=taskboard&op=list&tbid=$tbid&do=recycle&type=task"><span class="dzz dzz-dashboard"></span>任务</a>
            </li>
            <li class="<!--{if $type=='cat'}-->active<!--{/if}-->">
                <a href="{DZZSCRIPT}?mod=taskboard&op=list&tbid=$tbid&do=recycle&type=cat"><span class="dzz dzz-view-list"></span>列表</a>
            </li>
            <li class="<!--{if $type=='attach'}-->active<!--{/if}-->">
                <a href="{DZZSCRIPT}?mod=taskboard&op=list&tbid=$tbid&do=recycle&type=attach"><span class="dzz dzz-file"></span>文件</a>
            </li>

            <!--{elseif $_GET[do]=='archive'}-->

            <li class="<!--{if $type=='task'}-->active<!--{/if}-->">
                <a href="{DZZSCRIPT}?mod=taskboard&op=list&tbid=$tbid&do=archive&type=task"><span class="dzz dzz-dashboard"></span>任务</a>
            </li>
            <li class="<!--{if $type=='cat'}-->active<!--{/if}-->">
                <a href="{DZZSCRIPT}?mod=taskboard&op=list&tbid=$tbid&do=archive&type=cat"><span class="dzz dzz-view-list"></span>列表</a>
            </li>
            <!--{elseif $_GET[do]=='user'}-->
            

            <!--{elseif $_GET[do]=='event'}-->
            <li class="<!--{if $type=='task'}-->active<!--{/if}-->">
                <a href="{DZZSCRIPT}?mod=taskboard&op=list&tbid=$tbid&do=recycle&type=task"><span class="dzz dzz-dashboard"></span>任务</a>
            </li>
            <li class="<!--{if $type=='cat'}-->active<!--{/if}-->">
                <a href="{DZZSCRIPT}?mod=taskboard&op=list&tbid=$tbid&do=recycle&type=cat"><span class="dzz dzz-view-list"></span>列表</a>
            </li>
            <li class="<!--{if $type=='attach'}-->active<!--{/if}-->">
                <a href="{DZZSCRIPT}?mod=taskboard&op=list&tbid=$tbid&do=recycle&type=attach"><span class="dzz dzz-file"></span>文件</a>
            </li>

            <!--{/if}-->
        </ul>
    </div>
</div>

<!-- 左边拖动部分 -->
<div class="left-drager">
    <div class="left-drager-op"><div class="left-drager-sub"></div></div>
</div>