<!--{if $setting['showtype'] != 'list'}-->
    <!--{loop $data $value}-->
        <div class="edit-item item" data-rid="$value['rid']" data-dpath="$value['dpath']" <!--{if $do == 'getitem'}-->style="opacity:0"<!--{/if}-->>
            <div class="edit-img" onclick="opendoc('<!--{if $setting[openurl]}-->{$setting[openurl]}&path={$value[dpath]}<!--{/if}-->', '{$value[rid]}', 1)"><img onload="image_resize(this)" src="$value['img']" style="width: 96px !important;" alt=""></div>
            <div class="edit-info clearfix">
                <div class="edit-infoWrap">
                    <div class="edit-name" title="{$value['name']}">{$value['name']}</div>
                    <div class="edit-date" title="{eval echo dgmdate($value['dateline'])}"><i class="dzz dzz-file-excel"></i><!--{if $order == 'edit'}-->{eval echo dgmdate($value['dateline'])}<!--{elseif $order == 'open'}--><!--{if $value[opendateline]}-->{eval echo dgmdate($value['opendateline'])}<!--{else}-->{eval echo lang(no_opened)}<!--{/if}--><!--{else}-->{eval echo dgmdate($value['dateline'])}<!--{/if}--></div>
                </div>
                <div class="edit-more dropdown">
                    <button class="btn btn-more dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="dzz dzz-more"  data-toggle="tooltip" data-placement="bottom" title="{eval echo lang(more)}"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <li><a style="cursor: pointer;" onclick="showWindow('rename-window','{MOD_URL}&op=ajax&do=showwindow&operation=rename&renametype=rename&id=$value[dpath]')">{eval echo lang(rename)}</a></li>
                        <li><a style="cursor:pointer;" onclick="attach_down(this)" >{eval echo lang('download')}</a></li>
                        <li><a style="cursor: pointer;" onclick="docdelete(this)" >{eval echo lang('remove')}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    <!--{/loop}-->
<!--{else}-->
    <!--{loop $data $key $value}-->
        <div class="temp-table" data-time="{$key}">
            <!--{if $order != 'name'}--><div class="table-date"><!--{if $key == 'today'}-->{eval echo lang(today)}<!--{elseif $key == 'ytoday'}-->{eval echo lang(ytoday)}<!--{elseif $key == 'nearly_week'}-->{eval echo lang('7_nearly')}<!--{elseif $key == 'nearly_month'}-->{eval echo lang('30_nearly')}<!--{else}-->{eval echo lang('30_again')}<!--{/if}--></div><!--{/if}-->
            <table class="temp-ul table" style="width: 100%;">
                <!--{loop $value $val}-->
                    <tr class="item" data-rid="$val['rid']" data-dpath="$val['dpath']" <!--{if $do == 'getitem'}-->style="opacity:0"<!--{/if}-->>
                        <td class="td-i" onclick="opendoc('<!--{if $setting[openurl]}-->{$setting[openurl]}&path={$val[dpath]}<!--{/if}-->', '{$val[rid]}', 1)"><i class="dzz dzz-file-excel table-icon"></i>  <span class="edit-name" title="{$val['name']}">{$val['name']}</span></td>
                        <td class="td-user">{$val['username']}</td>
                        <td class="td-date"><!--{if $order == 'edit'}-->{eval echo dgmdate($val['dateline'])}<!--{elseif $order == 'open'}--><!--{if $val[opendateline]}-->{eval echo dgmdate($val['opendateline'])}<!--{else}-->{eval echo lang(no_opened)}<!--{/if}--><!--{else}-->{eval echo dgmdate($val['dateline'])}<!--{/if}--></td>
                        <td class="td-more dropdown">
                            <button class="btn btn-more dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="dzz dzz-more"  data-toggle="tooltip" data-placement="bottom" title="{eval echo lang(more)}"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu5" style="margin-top: -10px;left: -130px;">
                                <li><a style="cursor: pointer;" onclick="showWindow('rename-window','{MOD_URL}&op=ajax&do=showwindow&operation=rename&renametype=rename&id=$val[dpath]')">{eval echo lang(rename)}</a></li>
                                <li><a style="cursor:pointer;" onclick="attach_down(this)" >{eval echo lang('download')}</a></li>
                                <li><a style="cursor: pointer;" onclick="docdelete(this)" >{eval echo lang('remove')}</a></li>
                            </ul>
                        </td>
                    </tr>
                <!--{/loop}-->
            </table>
        </div>
    <!--{/loop}-->
<!--{/if}-->

<!--{if $next}-->
    <div class="loader" data-turl="{$turl}" data-next="{$nextStart}" onclick="loadmore()"> <div class="loader-inner ball-beat"> <div></div> <div></div> <div></div> </div> </div>
<!--{/if}-->