@charset "utf-8";
/*清零*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;border:0;}
body{font-size:12px; /*font-family:"Microsoft YaHei";*/font-family:Verdana;}
ul,ol{list-style-type:none;}
select,input,img{vertical-align:middle;}
a{text-decoration:none;}

body{background:url(../images/beige_paper.png) left top repeat;}
@font-face {
    font-family: 'WebSymbolsRegular';
    src:url('../websymbols.woff');
    src:url('../websymbols.woff') format('woff'),
    url('../websymbols.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.link{
    text-align:center;
    padding-top:10px;
}
.link a{
    font-size:12px;
    color:#F30;
    border:#BFBFFF solid 1px;
    display:inline-block;
    height:20px;
    line-height:20px;
    padding:0 4px;
    margin:0 5px;
    background:#FFF;
    border-radius:3px;
}
.link a.active{
    background:#259add;
    color:#FFF;
}
.list{
    width:100%;
    height:auto;
    margin-top:50px;
}
.list li{
    width:500px;
    margin:0 auto;
    height:100px;
    margin-bottom:10px;
    background:#FFF;
    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition:0.3s all ease;
    -moz-transition:0.3s all ease;
    -ms-transition:0.3s all ease;
    -o-transition:0.3s all ease;
    transition:0.3s all ease;
    overflow:hidden;
    position:relative;
}
.list .border{
    height:100px;
    position:absolute;
    left:0; top:0;
    width:10px;
    overflow:hidden;
    opacity:0;
    background:#F90;
    -webkit-transition:0.3s all ease;
    -moz-transition:0.3s all ease;
    -ms-transition:0.3s all ease;
    -o-transition:0.3s all ease;
}

.list li:hover{
    background:#000;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-transition:0.3s all ease;
    -moz-transition:0.3s all ease;
    -ms-transition:0.3s all ease;
    -o-transition:0.3s all ease;
}
.list li:hover .border{
    opacity:1;
    -webkit-transition:0.3s all ease;
    -moz-transition:0.3s all ease;
    -ms-transition:0.3s all ease;
    -o-transition:0.3s all ease;
}
.list li:hover .text h2{
    color:#FFF;
    font-size:18px;
    -webkit-transition:0.3s all ease;
    -moz-transition:0.3s all ease;
    -ms-transition:0.3s all ease;
    -o-transition:0.3s all ease;
}
.list li:hover .text h3{
    color:#F60;
    font-size:18px;
    margin-top:10px;
    -webkit-transition:0.3s all ease;
    -moz-transition:0.3s all ease;
    -ms-transition:0.3s all ease;
    -o-transition:0.3s all ease;
}
.list li:hover .icon{
    color:#F90;
    font-size:50px;
    -webkit-transition:0.3s all ease;
    -moz-transition:0.3s all ease;
    -ms-transition:0.3s all ease;
    -o-transition:0.3s all ease;
}
.list li .icon{
    width:90px;
    height:90px;
    margin-left:20px;
    margin-top:5px;
    margin-right:20px;
    float:left;
    font-size:30px;
    font-family:'WebSymbolsRegular';
    line-height:90px;
    text-align:center;
    -webkit-transition:0.3s all ease;
    -moz-transition:0.3s all ease;
    -ms-transition:0.3s all ease;
    -o-transition:0.3s all ease;
    text-shadow:0 0 3px #CCCCCC;
}
.text{
    width:350px;
    height:auto;
    float:left;
    margin-top:16px;
    height:70px;
}
.text h2{
    font-family:"Microsoft YaHei";
    color:#999;
    font-size:30px;
    font-weight:normal;
    -webkit-transition:0.3s all ease;
    -moz-transition:0.3s all ease;
    -ms-transition:0.3s all ease;
    -o-transition:0.3s all ease;
}
.text h3{
    font-family:Verdana;
    font-size:14px;
    color:#666;
    font-weight:normal;
    -webkit-transition:0.3s all ease;
    -moz-transition:0.3s all ease;
    -ms-transition:0.3s all ease;
    -o-transition:0.3s all ease;
}