<h1>这个页面没有用到了？</h1>
<ul class="nav nav-pills nav-stacked nav-pills-leftguide" >
    <li<!--{if $operation=='basic'}--> class="active"<!--{/if}-->> <a href="{BASESCRIPT}?mod=discuss&op=list&do=setting&operation=basic&fid=$fid" >{lang basic}</a></li>
    <li<!--{if $operation=='extend'}--> class="active"<!--{/if}-->> <a href="{BASESCRIPT}?mod=discuss&op=list&do=setting&operation=extend&fid=$fid">扩展设置</a></li>
   <!-- <li<!--{if $operation=='perm'}--> class="active"<!--{/if}-->> <a href="{BASESCRIPT}?mod=discuss&op=list&do=setting&operation=perm&fid=$fid" >权限相关</a></li>
    <li<!--{if $operation=='posts'}--> class="active"<!--{/if}-->> <a href="{BASESCRIPT}?mod=discuss&op=list&do=setting&operation=posts&fid=$fid" >贴子相关</a></li>-->
    <li<!--{if $operation=='threadtypes'}--> class="active"<!--{/if}-->> <a href="{BASESCRIPT}?mod=discuss&op=list&do=setting&operation=threadtypes&fid=$fid" >主题分类</a></li>
</ul>                                          