<ul class="nav-stacked">
    <li<!--{if $do=='basic'}--> class="active"<!--{/if}-->> <a href="{BASESCRIPT}?mod=news&op=setting&do=basic" ><i class="dzz dzz-settings" style="margin-right: 14px;font-size: 22px;vertical-align: -4px;"></i>{lang base_setting}</a></li>

    <li<!--{if $do=='block'}--> class="active"<!--{/if}-->> <a href="{BASESCRIPT}?mod=news&op=setting&do=block" ><i class="dzz dzz-view-module" style="margin-right: 14px;font-size: 22px;vertical-align: -4px;"></i>{lang model_setting}</a></li>     
</ul>