<!--{template common/header_simple_start}-->
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<link href="dzz/discuss/images/discuss.css?{VERHASH}" rel="stylesheet" media="all">
<link rel="stylesheet" href="static/css/checkbox.css">
<script type="text/javascript" src="static/js/jquery.leftDrager.js?{VERHASH}"></script>
<script type="text/javascript" src="dzz/discuss/scripts/discuss.js?{VERHASH}"></script>
<style>
html,body{
	overflow:hidden;
}
body{
	background:rgba(241, 241, 241, 1);
}
.navbar-inverse {
background-color: rgba(255, 90, 58, 1);
}
.bs-main-container{
	margin-left:210px;	
}

.modal .modal-content{
	background:#FBFBFB;
}
.modal .modal-body{
	padding:0;
}
.modal .modal-footer{
	border-top:1px solid #FFF;
}
.modal .list-group{
	margin:0
}
.modal .list-group .list-group-item{
	position:relative;border-left:0;border-right:0;border-top:1px solid #FFF;border-bottom:1px solid #e1e1e1;margin-bottom:0;background-color:#FBFBFB;
	border-radius:0;
	min-height:50px;
}
.list-group-item h4{
	font-size:16px;
}
.modal .list-group .list-group-item:hover,.modal .list-group .list-group-item:active{
	background-color:#F7F7F7;
}
.modal .list-group .list-group-item .board-icon{
	position:absolute;left:10px;top:10px;
}
.modal .list-group .list-group-item .list-group-content{
	padding-left:42px;
	font-size:12px;
}

</style>
<!--{template common/header_simple_end}-->
<!--{template common/commer_header}-->

<div class="bs-container clearfix" style="height: 100%;">
    <div class="bs-left-container  clearfix" style="height: 100%;">
        <!--{template left}-->
    </div>
    <div class="left-drager"></div>
	<div class="bs-main-container">
        <div class="main-content clearfix" >
            <div class="discuss-top clearfix">
                <div class="new-btn">
                    <a class="btn btn-primary newBtn"  href="{MOD_URL}&op=list&fid=$fid&do=newthread&extra=$extra&forward=$forward">{lang send_new_thread}</a>
                </div>
                <div class="choose-wrap">
                    <div class="btn-group">
                        <button type="button" class="btn drop-btn" data-toggle="dropdown">
                             <!--{if $ordertype == 'dateline'}-->{lang order_post_sent_time}<!--{elseif $ordertype == 'lastpost'}-->{lang order_reply_time}<!--{elseif $ordertype == 'heats'}-->{lang order_heat}<!--{elseif $ordertype == 'digest'}-->{lang order_essence}<!--{/if}-->  <span class="dzz dzz-expand-more"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{MOD_URL}&ordertype=dateline">{lang order_post_sent_time}</a></li>
                            <li><a href="{MOD_URL}&ordertype=lastpost">{lang order_reply_time}</a></li>
                            <li><a href="{MOD_URL}&ordertype=heats">{lang order_heat}</a></li>
                            <li><a href="{MOD_URL}&ordertype=digest">{lang order_essence}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
           <div class="discuss-container">
                <div class="board-header">
                    <div class="board-title" >
                        <small>&nbsp;&nbsp;{lang today}: <strong class="text-red">$todayposts</strong><span class="pipe">|</span>&nbsp;&nbsp;{lang ytoday}: <strong class="text-red">$postdata[0]</strong><span class="pipe">|</span>{lang thread}: <strong class="text-red">$threads</strong><span class="pipe">|</span>{lang post}: <strong class="text-red" >$posts</strong>
                        </small>
                    </div>
                   <!--{if $rules}-->
                   <div class="board-rules hidden-xs">
                        $rules
                   </div>
                   <!--{/if}-->
                </div>
                <div class="board-thread">
                  <div id="threadlist" class="board-thread-list tl" style="position:relative">
                      <div class="card-item-wrap">
                        <!--{if empty($list)}-->
                          <div class="searchImg-wrap">
                              <img src="{MOD_PATH}/images/search_empty.png" alt="">
                              <p>{lang no_post}</p>
                          </div>
                      <!--{/if}-->
                      <!--{template discuss_thread_list_item}-->
                      </div>
                  </div>
                </div>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
jQuery('.left-drager').leftDrager_layout(); 
jQuery(document).ready(function(e) {
	if(jQuery('#nextpage:visible').length){
		jQuery('.bs-main-container').scroll(function(e) {
			var clientHeight = jQuery('.bs-main-container').height();
			var scrollHeight = jQuery('.main-content').height();
			if(jQuery('.bs-main-container').scrollTop()+clientHeight>scrollHeight-20) jQuery('#nextpage td').trigger('click');
		});
	}
});

</script>
<script src="static/bootstrap/js/bootstrap.min.js?{VERHASH}"></script>
<!--@authorcode  codestrings-->
<!--{template common/footer_simple}--> 
