body, button, input, select, textarea, p, a {
    font-family: "微软雅黑",tahoma,arial,宋体,sans-serif;
    font-size: 14px;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
.clearfix::after {
    clear: both;
    content: "clear";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.top {
    background: #e8e8e8 none repeat scroll 0 0;
    height: 28px;
}
*::-moz-placeholder {
    color: #999;
}
.mainNav {
    background: #fff none repeat scroll 0 0;
}
.mainNav {
    height: 66px;
    position: relative;
    z-index: 4;
}
.mainNav_inner {
    position: relative;
    z-index: 1;
}
.w1000center {
    margin: 0 auto;
    width: 1000px;
}
.logo {
    float: left;
    height: 53px;
    margin-top: 7px;
}
a {
    color: #666;
    cursor: pointer;
    text-decoration: none;
}
fieldset, img {
    border: medium none;
}
.loginTxt {
    border-left: 1px solid #ccc;
    color: #aaa;
    float: left;
    font-size: 30px;
    height: 38px;
    line-height: 38px;
    margin-left: 30px;
    margin-top: 14px;
    padding-left: 30px;
}
.acguanlian {
    height: 29px;
    margin-top: -15px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 136px;
}
.acguanlian a {
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    color: #333;
    display: block;
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    width: 134px;
}
.acLoginBox {
    padding: 50px 0;
}
.w1000center {
    margin: 0 auto;
    width: 1000px;
}
ul, ol {
    list-style: outside none none;
}
.tabnav li.current {
    background: #39a1ea none repeat scroll 0 0;
    color: #fff;
}
.tabnav {
    margin: 0 0 24px 230px;
    width: 350px;
}
.tabnav li {
    background: #eee none repeat scroll 0 0;
    color: #666;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 175px;
}
.relatedLoginBox {
    margin: 0 auto;
    width: 378px;
}
.relatedLoginBox li {
    line-height: 44px;
    margin-bottom: 20px;
}
#login_nav {
    padding-left: 30px;
}
.relatedLoginBox li em {
    color: #666;
    display: block;
    float: left;
    font: 14px/44px "Microsoft Yahei";
    padding-right: 5px;
    text-align: right;
    width: 90px;
}
.relatedLoginBox li input {
    background: rgba(0, 0, 0, 0) url("https://ac.ppdaicdn.com/img/imgico.gif") no-repeat scroll 0 -326px;
    border: 0 none;
    color: #999;
    font: 14px/28px "Microsoft Yahei";
    height: 28px;
    padding: 8px 0 8px 16px;
    width: 284px;
}
button, input, select, textarea {
    font-size: 100%;
}
input, textarea {
    outline: medium none;
    resize: none;
}
#validatecode #mbyzm, #validatecode #emailmbyzm, #imgvefyData {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    vertical-align: top;
    width: 164px;
}
#validatecode #getvefydata_mobile, #validatecode #getvefydata_email, #getvefydata_img, #imgCode {
    background: #eee none repeat scroll 0 0;
    color: #0087e6;
    cursor: pointer;
    height: 46px;
    padding: 0;
    vertical-align: top;
    width: 113px;
}
.relatedLoginBox li span.cur {
    background: rgba(0, 0, 0, 0) url("https://ac.ppdaicdn.com/img/imgico.gif") no-repeat scroll 0 -390px;
    color: #0087e6;
}
.relatedLoginBox li p {
    color: #999;
    font: 14px/20px "Microsoft Yahei";
    padding-left: 75px;
    vertical-align: middle;
}
.relatedLoginBox li p.checkcorrect .check {
    position: relative;
    top: 5px;
}
.relatedLoginBox li input.check {
    display: block;
    float: left;
    height: 14px;
    margin: 4px 5px 0 0;
    width: 14px;
}
.relatedLoginBox li input {
    background: rgba(0, 0, 0, 0) url("https://ac.ppdaicdn.com/img/imgico.gif") no-repeat scroll 0 -326px;
    border: 0 none;
    color: #999;
    font: 14px/28px "Microsoft Yahei";
    height: 28px;
    padding: 8px 0 8px 16px;
    width: 284px;
}
.relatedLoginBox li p a {
    color: #0087e6;
}
.relatedLoginBox li.mb0 {
    margin-bottom: 0;
}
.relatedLoginBox li input.lgn {
    background-position: 0 -192px;
    color: #fff;
    cursor: pointer;
    font: 18px/44px "Microsoft Yahei";
    height: 50px;
    margin-left: 75px;
    padding: 0;
    text-align: center;
    width: 300px;
}
.footer {
    background: #e7eaed none repeat scroll 0 0;
    padding-bottom: 20px;
}
.footer_footerBottom {
    margin: 0 auto;
    padding-top: 20px;
    width: 1188px;
}
.footer_footerBottomNav {
    margin: 0 auto;
    width: 700px;
}
.footer_footerBottomNav li {
    color: #666;
    float: left;
    height: 32px;
    line-height: 32px;
    margin-right: 20px;
}
.footer_footerBottomNav li span.webindex {
    background-position: 0 -47px;
}
.footer_footerBottomNav li span, .footer_footerBottomNav li a {
    color: #666;
    float: left;
    height: 32px;
    line-height: 32px;
    margin-right: 22px;
}
.footer_footerBottom p {
    color: #666;
    margin-bottom: 10px;
    padding-top: 15px;
    text-align: center;
}