<!--{template common/header_simple_start}-->
<link href="static/bootstrap/css/font-awesome.min.css?{VERHASH}" rel="stylesheet" media="all">
<link href="static/css/checkbox.css?{VERHASH}" rel="stylesheet" media="all">
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<link href="{MOD_PATH}/images/taskboard.css?{VERHASH}" rel="stylesheet" media="all">
<link href="{MOD_PATH}/images/task.css?{VERHASH}" rel="stylesheet" media="all">
<script type="text/javascript" src="static/js/imgReady.js?{VERHASH}"></script>
<script type="text/javascript" src="static/js/jquery.leftDrager.js?{VERHASH}"></script>
<script type="text/javascript" src="{MOD_PATH}/scripts/main.js?{VERHASH}"></script>

<style>
	/*body{
		overflow: auto;
	}*/
.header-org .setting-basic{
	color: #555;
	position:absolute;
	top:5px;
	right:15px;
	z-index:10
}
.leftTopmenu{
		display:none;
	}
.header-org .setting-basic a{
	margin:5px;
	color:#FFF;
	text-shadow:1px 1px 1px #000;
	font-size:20px;
}

@media (max-width: 650px){
	.header-tab-nav .nav-tabs>li>a{
		padding:10px 15px;
	}
}


.navbar-inverse {
    background: #fbfbfb;
    border-bottom: 1px solid #e1e1e1;
	color:#333;
}
	.navbar-inverse .navbar-nav>li>a{
		color:#555;
	}.navbar-inverse .navbar-nav>li>a:hover{
		color:#333;
	}
</style>


<!--{template common/header_simple_end}-->
<!--{template common/commer_header}-->
<div class="bs-container">
    <!-- 左边部分 -->
    <!-- 结束 -->
    <!-- 右边部分 -->
    <div class="bs-main-container clearfix" style="margin-left:0">   
        <div class="main-content" id="middleconMenu" style="padding:0;">     
            <div id="org_header" class="header-org background-cover <!--{if $org['cover']}--> cover<!--{/if}-->" style="background-color:#f17327;background-image:url($org['coverurl'])">
     
                <div class="setting-basic">
      	            <!--{if $perm>2}--><a data-href="{MOD_URL}&op=menu&do=settings&action=basic&orgid=$orgid" href="javascript:;" class=" js-popbox" style="" data-placement="left" data-auto-adapt="true"><i class="fa fa-cog"></i></a><!--{/if}-->
                    <a data-href="{MOD_URL}&op=org&op=menu&do=org_share&orgid=$orgid" href="javascript:;" class=" js-popbox" style="" data-placement="left" data-auto-adapt="true"><i class="fa fa-share-alt"></i></a>
                </div>
      
  				<table width="100%" height="100%"><tr><td valign="middle">
                <div class="header-org-logo">
              	    <div class="org-logo-wrapper background-cover" <!--{if $org['logo']}--> style="background-image:url($org['logourl'])"<!--{else}-->style="display:none"<!--{/if}-->></div>
                </div>
                <div class="header-org-title">
                    <div id="org_title" class="header-org-maintitle"> $org[name] </div>
                    <!--{if $org[desc]}--> <div id="org_desc" class="header-org-subtitle"> $org[desc] </div><!--{/if}-->
                </div>
                 </td></tr></table>
                <!--{if $_G['uid']}-->
                <div class="header-tab-nav" >
                    <ul  class="nav nav-tabs" role="tablist">
                      <li role="presentation" <!--{if !$do}-->class="active"<!--{/if}-->><a href="#index_1" aria-controls="index_1" role="tab" data-init="true" data-toggle="tab">{lang appname}</a></li>
                      <li role="presentation"><a href="#members_1" data-href="{MOD_URL}&op=org&do=members&orgid=$orgid" aria-controls="members_1" role="tab" data-toggle="tab">{lang member}</a></li>
                      <li role="presentation" ><a href="#settings_1" data-href="{MOD_URL}&op=org&do=settings&orgid=$orgid" aria-controls="settings_1" role="tab" data-toggle="tab">{lang set_up}</a></li>
                     
                    </ul>
                </div>
                <!--{/if}-->
            </div>
	     
            <!--{if $_G['uid']}-->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="index_1">
                	<!--{template org/org_index}-->
                </div>
                <div role="tabpanel" class="tab-pane" id="members_1">
                 <div class="tab-pane-loading"><img src="{MOD_PATH}/images/spinner.gif" width="30" /></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="settings_1">
                	 <div class="tab-pane-loading"><img src="{MOD_PATH}/images/spinner.gif" width="30"  /></div>
                </div>
            </div>
            <!--{else}-->
            	<!--{template org/org_index}-->
           <!--{/if}-->
        </div>
    </div>
</div>
<script type="text/javascript">
var ajaxurl='{MOD_URL}&op=ajax&orgid=$orgid';
var Timer=null;
	jQuery('.left-drager').leftDrager_layout();

	jQuery(document).ready(function(e) {
		var hash=window.location.hash;
		//setImage(document.getElementById('org_logo'),100,100);
		jQuery('.js-popbox').each(function(){
			if(jQuery(this).hasClass('disabled')) return;
			jQuery(this).popbox();
		});
		jQuery('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

		   var tab=jQuery(e.target);
		   var href=tab.attr('href');
		   window.location.hash=href.replace('_1','');
		   if(tab.data('init') ==true){
			   return false;
		   }
		   jQuery(tab.attr('href')).load(tab.data('href'),function(){
			   tab.data('init','true');
		   });

		});
		 jQuery('.header-tab-nav li a[href="'+hash+'_1"]').tab('show');


		var bsH = jQuery('.bs-container').height();
		jQuery('.bs-container').height(bsH-65+'px');

	});

</script>
<script  type="text/javascript" src="static/popbox/jquery.popbox.js?{VERHASH}"></script>
<script  type="text/javascript" src="{MOD_PATH}/scripts/jquery-ui.js?{VERHASH}"></script>
<!--{if $perm>1}-->
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script type="text/javascript" src="static/jquery_file_upload/jquery.ui.widget.js?{VERHASH}"></script>
<script type="text/javascript" src="static/jquery_file_upload/jquery.iframe-transport.js?{VERHASH}"></script>
<!-- The basic File Upload plugin -->
<script type="text/javascript" src="static/jquery_file_upload/jquery.fileupload.js?{VERHASH}"></script>
<script type="text/javascript" src="static/jquery_file_upload/jquery.fileupload-process.js?{VERHASH}"></script>
<script type="text/javascript" src="static/jquery_file_upload/jquery.fileupload-validate.js?{VERHASH}"></script>
<!--{/if}-->
<script src="static/bootstrap/js/bootstrap.min.js?{VERHASH}"></script>
<!--codestrings-->
<!--{template common/footer_simple}--> 
