<!--{template common/header_simple_start}-->
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<link href="dzz/taskboard/images/taskboard.css?{VERHASH}" rel="stylesheet" media="all">
<link href="dzz/system/ueditor/third-party/dzzattach/dzzattach.css?{VERHASH}"  rel="stylesheet"  media="all">
<link href="dzz/taskboard/images/task.css?{VERHASH}" rel="stylesheet" media="all">
<script type="text/javascript" src="static/js/jquery.leftDrager.js?{VERHASH}"></script>
<div class="deleted_main">
    <p><span></span>任务板名称宽度最大是六百像素任务板名称宽度最大是六百像素任务板名称宽度最大是六百像素任务板名称宽度最大是六百像素
    <span>已被放入回收站</span>
    <span class="dzz dzz-delete"></span>
    </p>
</div>
<!--@authorcode codestrings-->
<!--{template common/footer_simple}-->
