<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>$navtitle</title>
		<base href="{$_G['siteurl']}" />
		<link href="static/jquery_weui/css/weui.min.css" rel="stylesheet">
		<link href="static/jquery_weui/css/jquery-weui.min.css" rel="stylesheet">
		<link href="static/dzzicon/icon.css" rel="stylesheet">
		<link href="{MOD_PATH}/css/mobile/index.css" rel="stylesheet">
		<link href="{MOD_PATH}/css/mobile/package.css" rel="stylesheet">
		<script type="text/javascript">var DZZSCRIPT='{DZZSCRIPT}',LANG='{$_G[language]}', STATICURL = 'static/', IMGDIR = '{$_G[setting][imgdir]}', VERHASH = '{VERHASH}', charset = '{CHARSET}', dzz_uid = '$_G[uid]', cookiepre = '{$_G[config][cookie][cookiepre]}', cookiedomain = '{$_G[config][cookie][cookiedomain]}', cookiepath = '{$_G[config][cookie][cookiepath]}',attackevasive = '{$_G[config][security][attackevasive]}', disallowfloat = '{$_G[setting][disallowfloat]}',  REPORTURL = '$_G[currenturl_encode]', SITEURL = '$_G[siteurl]', JSPATH = '$_G[setting][jspath]',MOD_PATH='{MOD_PATH}',APP_URL='{MOD_URL}',MOD_URL='{MOD_URL}';</script>
	</head>
	<body>
	<section class="weui-address">
		<a href="{MOD_URL}" class="weui-index">
			<span class="dzz dzz-home dzz-index"></span>
			<i class="dzz dzz-vline dzz-index-vline"></i>
		</a>
		<div class="weui-address-container" id="weui_address_scroll">
			<div class="scroller">
				<ul class="weui-address-field">
					<li>
						<a href="{$_G[siteurl]}{MOD_URL}&op=mobile&do=cat">类型</a><span class="dzz dzz-chevron-right"></span>
					</li>
					<li>
						<a href="{$_G[siteurl]}{MOD_URL}&op=mobile&do=cat&operation=catcontent&cid=$cid">$cats[catname]</a><span class="dzz dzz-chevron-right"></span>
					</li>
				</ul>
			</div>
		</div>
	</section>
		<!--列表开始-->
		<section class="weui-cells weui-cells__recent weui-cells__margin_footer" id="fileList-cat-{$cid}">

		</section>
		<!--无内容提示页-->
		<div class="weui-cell-search-normal" style="display: none;">
			<!--{template mobile/template_normal}-->
		</div>
		<!--底部开始-->
		<footer class="weui-cell-footer">
			<!--{template mobile/template_footer}-->
		</footer>
		<!--底部结束-->
	</body>
	<script type="text/javascript" src="static/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="static/jquery_weui/js/jquery-weui.min.js"></script>
	<script type="text/javascript" src="{MOD_PATH}/js/mobile/appevent.js"></script>
	<script type="text/javascript" src="{MOD_PATH}/js/mobile/permcheck.js"></script>
	<script type="text/javascript" src="{MOD_PATH}/js/mobile/index.js"></script>
	<script type="text/javascript">
        var cid = '{$cid}';
        $(function () {
            _filemanage.getConfig(MOD_URL+'&op=mobile&do=json',function(data){
                _filemanage.contains = 'fileList-cat-'+cid;
                _filemanage.dataurl = MOD_URL+'&op=mobile&do=cat&operation=filelist&cid='+cid;
                _filemanage.getData();
            })
            height();
        })
        //获取id高度
        function height(){
            var h = $(document).outerHeight(true);
            var h2 = $('.weui-cell-footer').outerHeight(true);
            $('.weui-cell-search-images').css('height',h-h2);
        }
	</script>
	<!--{eval output();}-->
</html>