<div class="row">
	<div class="col-xs-20 col-md-20">
		<ol class="breadcrumb f-mt5">
			<li><a href="$db_wwwurl">首页</a></li>
			<li><a href="arthome.php">文档</a></li>
			<li class="active">$_artclass[$classid]</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-16 col-md-16">
		<div class="f-mr10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>$_artclass[$classid]</strong>
				</div>
				<div class="panel-body">
					<ul class="m-artlist">
						<!--{loop:article:$article classid=$classid|limit=20|page=$page|url=artlist.php?classid=$classid&|cachetime=depend/artcid/$classid}-->
						<li>
							<span class="arttime"><!--{echo get_date($article[timestamp])}--></span>
							<span class="artsubject"><a href="article.php?aid=$article[aid]">$article[subject]</a></span>
						</li>
						<!--{/loop:article}-->
					</ul>
				</div>
			</div>
			<!--{if !empty($pageinfo)}-->
			<div class="u-pages"><!--{page $pageinfo}--></div>
			<!--{/if}-->
		</div>
	</div>
	<div class="col-xs-4 col-md-4">
		<!--{template 'panel_article_side'}-->
	</div>
</div>