<!--{eval $adcode = ad('nav');}-->
<!--{if $adcode!=''}--><div class="u-adnav f-mt10">$adcode</div><!--{/if}-->

<div class="row">
	<div class="col-xs-20 col-md-20">
		<div class="m-classfilter">
			<div class="item">
				<div class="caption">类别: </div>
				<!--{loop:class:$c cid=$cup}-->
				<a href="javascript:;" onclick='javascript:window.location.href="class.php?cid=$c[cid]{$nidurl}{$yearurl}{$orderurl}";return false;'{$sel[cid][$c[cid]]}>$c[caption]</a>
				<!--{/loop:class}-->
			</div>
			<div class="item">
				<div class="caption">地区: </div>
				<a href="javascript:;" onclick='javascript:window.location.href="class.php{$cidurl}{$yearurl}{$orderurl}";return false;'{$sel[nid][all]}>全部</a>
				<!--{loop $_nation $k $n}-->
				<a href="javascript:;" onclick='javascript:window.location.href="class.php{$cidurl}&nid=$k{$yearurl}{$orderurl}";return false;'{$sel[nid][$k]}>$n</a>
				<!--{/loop}-->
			</div>
			<div class="item">
				<div class="caption">时间: </div>
				<a href="javascript:;" onclick='javascript:window.location.href="class.php{$cidurl}{$nidurl}{$orderurl}";return false;'{$sel[year][all]}>全部</a>
				<!--{eval for($i=$db_yearend;$i>=$db_yearstart;$i--) {if($db_yearend-$i>=10) break;}-->
				<a href="javascript:;" onclick='javascript:window.location.href="class.php{$cidurl}{$nidurl}&year=$i{$orderurl}";return false;'{$sel[year][$i]}>$i</a>
				<!--{eval }}-->
				<a href="javascript:;" onclick='javascript:window.location.href="class.php{$cidurl}{$nidurl}&year=b{$i}{$orderurl}";return false;'{$sel[year]['b'.$i]}>更早</a>
			</div>
			<div class="item">
				<div class="caption">排序: </div>
				<a href="javascript:;" onclick='javascript:window.location.href="class.php{$cidurl}{$nidurl}{$yearurl}&order=postdate";return false;'{$sel[order][postdate]}>发布时间</a><a href="javascript:;" onclick='javascript:window.location.href="class.php{$cidurl}{$nidurl}{$yearurl}&order=lastdate";return false;'{$sel[order][lastdate]}>最后更新</a><a href="javascript:;" onclick='javascript:window.location.href="class.php{$cidurl}{$nidurl}{$yearurl}&order=hits";return false;'{$sel[order][hits]}>人气</a><a href="javascript:;" onclick='javascript:window.location.href="class.php{$cidurl}{$nidurl}{$yearurl}&order=reply";return false;'{$sel[order][reply]}>评论</a>
			</div>
		</div>
	</div>
</div>

<div class="row f-mt15">
	<div class="col-xs-5 col-md-5">
		<div class="m-videobox">
			<div class="title">
				<span class="title-label">本类排行</span>
			</div>
			<div class="content">
				<ul class="m-video-side-list f-mr10">
				<!--{eval $i=1;}-->
				<!--{loop:video:$video cid=$cid|showsub=1|order=hits DESC,v.vid DESC|limit=8}-->
				<!--{if $i==1}-->
				<li class="l1">
					<div class="pic"><a href="read.php?vid=$video[vid]" title="$video[subject]"><img src="$video[picurl]" alt="$video[subject]"/></a></div>
					<div class="subject"><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></div>
					<div class="idx">$i</div>
				</li>
				<!--{else}-->
				<li>
					<div class="row">
						<div class="col-xs-15">
							<div class="left">
								<!--{eval $bg=$i<=3?'bg1':'bg2';}-->
								<div class="idx $bg">$i</div>
								<a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a>
							</div>
						</div>
						<div class="col-xs-5">
							<div class="right">$video[hits]</div>
						</div>
					</div>
				</li>
				<!--{/if}-->
				<!--{eval $i++;}-->
				<!--{/loop:video}-->
				</ul>
			</div>
		</div>

		<!--{$videodb=loop:video cid=$cid|best=2|showsub=1|order=lastdate DESC,postdate DESC,v.vid DESC|limit=8|cachetime=depend/best}-->
		<!--{if !empty($videodb)}-->
		<div class="m-videobox f-mt15">
			<div class="title">
				<span class="title-label">本类推荐</span>
			</div>
			<div class="content">
				<ul class="m-video-side-list f-mr10">
				<!--{eval $i=1;}-->
				<!--{loop $videodb $key $video}-->
				<!--{if $i==1}-->
				<li class="l1">
					<div class="pic"><a href="read.php?vid=$video[vid]" title="$video[subject]"><img src="$video[picurl]" alt="$video[subject]"/></a></div>
					<div class="subject"><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></div>
					<div class="idx">$i</div>
				</li>
				<!--{else}-->
				<li>
					<div class="row">
						<div class="col-xs-15">
							<div class="left">
								<!--{eval $bg=$i<=3?'bg1':'bg2';}-->
								<div class="idx $bg">$i</div>
								<a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a>
							</div>
						</div>
						<div class="col-xs-5">
							<div class="right">$video[hits]</div>
						</div>
					</div>
				</li>
				<!--{/if}-->
				<!--{eval $i++;}-->
				<!--{/loop}-->
				</ul>
			</div>
		</div>
		<!--{/if}-->
	</div>

	<div class="col-xs-15 col-md-15">
		<div class="m-videobox">
			<div class="title">
				<span class="links">
					<!--{eval $i=1;}-->
					<!--{loop:class:$c1 cid=$cid}-->
					<!--{if $i>1}--><span class="u-split">/</span><!--{/if}-->
					<a href="class.php?cid=$c1[cid]">$c1[caption]</a>
					<!--{eval $i++;}-->
					<!--{/loop:class}-->
				</span>
				<span class="title-label">$_class[$cid][caption]</span>
			</div>
			<div class="content">
				<div class="row">
					<!--{$videodb=loop:video $tagstr|showsub=1|order=$orderway $orderasc,v.vid DESC|limit=$db_perpage|page=$page|url=$url|cachetime=depend/cids/$cid}-->
					<!--{loop $videodb $video}-->
					<div class="col-xs-5 col-md-5 col-lg-4">
						<div class="m-video-list">
							<a href="read.php?vid=$video[vid]" title="$video[subject]"><div class="pic"><img src="$video[picurl]" alt="$video[subject]" /></div></a>
							<div class="subject">
								<a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a>
							</div>
							<!--{if $video[type]=='1'}--><div class="vip">VIP</div><!--{/if}-->
						</div>
					</div>
					<!--{/loop}-->
				</div>

				<!--{if !empty($pageinfo)}-->
				<div class="u-pages">
					<!--{page $pageinfo}-->
					<span class="f-gray f-fs12">提示：可使用键盘方向键←→翻页</span>
				</div>
				<!--{/if}-->

				<!-- 键盘翻页 -->
				<script type="text/javascript">
				<!--{eval $page_down = !empty($pageinfo['page_down']) ? $pageinfo['page_down'] : 1;}-->
				<!--{eval $page_up = !empty($pageinfo['page_up']) ? $pageinfo['page_up'] : 1;}-->
				<!--{eval $nextpage = pv_url('class.php' . $cidurl . $nidurl . $yearurl . $orderurl . '&page=' . $page_down);}-->
				<!--{eval $prevpage = pv_url('class.php' . $cidurl . $nidurl . $yearurl . $orderurl . '&page=' . $page_up);}-->
				$(document).keyup(function(event){
					if(event.keyCode=='37') window.location.href="{$prevpage}";
					if(event.keyCode=='39') window.location.href="{$nextpage}";
				});
				</script>
			</div>
		</div>
	</div>

</div>

