<table class="table">
	<thead>
		<tr><td colspan="2" class="f-fs18"><strong>修改密码</strong></td></tr>
	</thead>
	<tbody>
		<tr>
			<td class="f-w40">原密码</td>
			<td><input type="password" class="u-text" id="oldpwd" name="oldpwd"></td>
		</tr>
		<tr>
			<td>新密码 <span class="f-gray">（不修改请留空）</span></td>
			<td><input type="password" class="u-text" id="propwd" name="propwd"></td>
		</tr>
		<tr>
			<td>确认密码</td>
			<td><input type="password" class="u-text" id="check_pwd" name="check_pwd"></td>
		</tr>
		<tr>
			<td>邮箱 <span class="f-gray">（不修改请留空）</span></td>
			<td><input type="text" class="u-text" id="proemail" name="proemail"></td>
		</tr>
	</tbody>
	<tfoot>
		<tr><td colspan="2" class="f-tac"><button type="submit" class="u-btn f-mt10">提 交</button></td></tr>
	</tfoot>
</table>

