<div class="m-nav">
	<div class="container u-min-width">
		<div class="row">
			<div class="col-md-20">
				<div class="f-fr">
					您好，
					<!--{if $groupid=='guest'}-->
					请 <a href="register.php">注册</a> 或 <a href="login.php">登录</a>
					<!--{else}-->
					{$username}！<a href="login.php?action=quit">退出</a>
					<em></em> <a href="profile.php?action=show&id=$uid">个人中心</a>
					<em></em> <a href="message.php">短消息</a> <!--{if $user[newpm]==1}--><img src="$imgpath/$stylepath/new.gif" class="newmsg" /><!--{/if}-->
					<!--{/if}-->
		
					<!--{if $gp_allowpost=='1'}-->
					<em></em> <a href="post.php" class="f-stylecolor">发布视频</a>
					<!--{/if}-->
		
					<!--{loop $hackdb[1] $h}-->
					<em></em> <a href="hack.php?hackname=$h[directory]">$h[name]</a>
					<!--{/loop}-->
		
					<!--{if $SYSTEM[allowadmincp]=='1'}-->
					<em></em> <a href="admin.php" target="_blank">后台管理</a>
					<!--{/if}-->
		
					<em></em> <a href="search.php">搜索</a>
		
					<!--{if $db_mergesystype=='ucenter' && $db_mergeshowapp=='1'}-->
						<!--{eval include_once PHPVOD_ROOT . 'uc_client/data/cache/apps.php';}-->
						<!--{loop $_CACHE['apps'] $key $value}-->
							<!--{if $value[appid] != UC_APPID && is_numeric($key)}-->
							<em></em> <a href="$value[url]" target="_blank">$value[name]</a>	
							<!--{/if}-->
						<!--{/loop}-->
					<!--{/if}-->
					
					<em></em> <a href="arthome.php">文档</a>
					<em></em> <a href="rss.php" target="_blank">RSS</a>
				</div>
			</div>
		</div>
	</div>
</div>