<div class="row">
	<div class="col-xs-20 col-md-20">
		<ol class="breadcrumb f-mt5">
		  <li><a href="$db_wwwurl">首页</a></li>
		  <li class="active">注册</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-20 col-md-20">
		<form action="register.php" method="post" id="register">
		<input type="hidden" value="2" name="step" />
		<table class="table">
			<thead>
				<tr><td colspan="2" class="f-fs18"><strong>会员注册</strong></td></tr>
			</thead>
			<tbody>
			<!--{if $db_gdcheck & 1}-->
			<tr>
				<td>认证码<span class="u-need">*</span></td>
				<td>
					<div><input type="text" name="gdcode" id="gdcode" size="6" class="u-gdcode" datatype="*" ajaxurl="ajax.php?action=check_gdcode" nullmsg="请输入验证码！" errormsg="验证码错误！" /></div>
					<div class="f-mt2"><img src="ck.php?nowtime=$timestamp" align="absmiddle" style="cursor:pointer;" id="ckcode" onclick="this.src='ck.php?nowtime='+new Date().getTime();$('#gdcode')[0].validform_valid='false';" alt="看不清楚，换一张" title="看不清楚，换一张" /></div>
				</td>
			</tr>
			<!--{/if}-->
			<tr>
				<td class="f-w40">用户名<span class="u-need">*</span></td>
				<td><input type="text" class="u-text" name="regname" datatype="s{$rg_regminname}-{$rg_regmaxname}" ajaxurl="ajax.php?action=check_username" nullmsg="请输入用户名！" errormsg="用户名长度为{$rg_regminname}-{$rg_regmaxname}个字符！" /></td>
			</tr>
			<tr>
				<td>密码<span class="u-need">*</span></td>
				<td><input type="password" class="u-text" name="regpwd" datatype="*6-20" nullmsg="请填写密码！" errormsg="密码范围在6-20位之间！" /></td>
			</tr>

			<tr>
				<td>确认密码<span class="u-need">*</span></td>
				<td><input type="password" class="u-text" name="regpwdrepeat" datatype="*" recheck="regpwd" nullmsg="请再输入一次密码！" errormsg="您两次输入的密码不一致！" /></td>
			</tr>

			<tr>
				<td>邮箱<span class="u-need">*</span><!--{if $rg_regcheck=='1'}--><br /><span class="f-stylecolor">帐号需要认证，请填写真实的邮箱地址</span><!--{/if}--></td>
				<td><input type="text" class="u-text" name="regemail" datatype="e" ajaxurl="ajax.php?action=check_email" nullmsg="请输入邮箱！" errormsg="错误的邮箱地址！" /></td>
			</tr>
			</tbody>
			<tfoot>
				<tr><td colspan="2" class="f-tac"><input type="submit" value="提 交" class="u-btn f-mt10" /></td></tr>
			</tfoot>
		</table>
		</form>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="js/validform/style.css" />
<script type="text/javascript" src="js/validform/validform_min.js"></script>
<script type="text/javascript">
$(function(){
	$("#register").Validform({
		showAllError: true,
		tiptype:3
	});
})
</script>