// --- 全局设置 --- 
@body-color: #ccc;
@body-background-color: #333;
@a-color: #ccc;
@a-hover-color: white;

// --- 表单设置 ---
// COMMON
@form-color: @body-color;
@form-background-color: #444;
@form-border: solid 1px #555;
//SELECT
@form-select-color: @form-color;
@form-select-background-color: @form-background-color;
@form-select-border-color: #555;
//文本(text/password/textarea)
@form-text-border: @form-border;
@form-text-color: @form-color;
@form-text-background-color: @form-background-color;
@form-text-focus-border: solid 1px darkred;
@form-text-focus-border-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px darkred;
@form-text-focus-color: @form-color;
@form-text-focus-background-color: @form-background-color;
//按钮(button/submit/reset)
@form-btn-border: @form-border;
@form-btn-color: @form-color;
@form-btn-background-color: @form-background-color;
@form-btn-hover-border: solid 1px #666;
@from-btn-hover-color: white;
@form-btn-hover-background-color: darkred;

// --- 表格设置 ---
// tableborder
@table-color: @body-color;
@table-background-color: #333;
@table-border-color: #555;
@table-field-background-color: #606060;
@table-header-color: white;
@table-header-background-color: darkred;
@table-hover-background-color: #444;
// top
@top-table-a-color: @a-color;
@top-table-a-background-color: #444;
@top-table-a-hover-color: @a-hover-color;
@top-table-a-hover-background-color: darkred;
// left
@left-table-color: @body-color;
@left-table-background-color: #333;
@left-table-border-color: #555;
@left-table-header-color: white;
@left-table-header-background-color: darkred;
@left-table-a-color: @body-color;
@left-table-a-active-color: #444;

// --- nav 标签设置 ---
@nav-border: solid 2px #555;
@nav-a-color: @a-color;
@nav-a-background-color: @body-background-color;
@nav-a-hover-color: @a-color;
@nav-a-hover-background-color: #444;
@nav-a-active-color: #ccc;
@nav-a-active-background-color: darkred;

// --- page 分页设置 ---
@page-strong-border: solid 1px #555;
@page-strong-color: @body-color;
@page-strong-background-color: darkred;
@page-a-border: solid 1px #555;
@page-a-color: @a-color;
@page-a-background-color: #444;
@page-a-hover-border: @page-a-border;
@page-a-hover-color: @a-color;
@page-a-hover-background-color: darkred;

// --- hr 水平线设置 ---
@hr-border: solid 1px #ccc;

@import "main.less";