// --- 全局设置 --- 
@body-color: #555;
@body-background-color: #F5F5F5;
@a-color: @body-color;
@a-hover-color: #428bca;

// --- 表单设置 ---
// COMMON
@form-color: @body-color;
@form-background-color: #F5F5F5;
@form-border: solid 1px #d6d6d6;
//SELECT
@form-select-color: @form-color;
@form-select-background-color: @form-background-color;
@form-select-border-color: #c0c0c0 #ededed #ededed #c0c0c0;
//文本(text/password/textarea)
@form-text-border: @form-border;
@form-text-color: @form-color;
@form-text-background-color: @form-background-color;
@form-text-focus-border: solid 1px #66afe9;
@form-text-focus-border-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
@form-text-focus-color: @form-color;
@form-text-focus-background-color: @form-background-color;
//按钮(button/submit/reset)
@form-btn-border: @form-border;
@form-btn-color: @form-color;
@form-btn-background-color: #F5F5F5;
@form-btn-hover-border: solid 1px #698CC3;
@from-btn-hover-color: white;
@form-btn-hover-background-color: #698CC3;

// --- 表格设置 ---
// tableborder
@table-color: @body-color;
@table-background-color: @body-background-color;
@table-border-color: #CBDAE5;
@table-field-background-color: #DBEAF5;
@table-header-color: white;
@table-header-background-color: #698CC3;
@table-hover-background-color: #DBEAF5;
// top
@top-table-a-color: white;
@top-table-a-background-color: #698CC3;
@top-table-a-hover-color: @body-color;
@top-table-a-hover-background-color:#DBEAF5;
// left
@left-table-color: @body-color;
@left-table-background-color: @body-background-color;
@left-table-border-color: #CBDAE5;
@left-table-header-color: white;
@left-table-header-background-color: #698CC3;
@left-table-a-color: @body-color;
@left-table-a-active-color: #DBEAF5;

// --- nav 标签设置 ---
@nav-border: solid 2px #ccc;
@nav-a-color: @a-color;
@nav-a-background-color: @body-background-color;
@nav-a-hover-color: @a-color;
@nav-a-hover-background-color: #DBEAF5;
@nav-a-active-color: white;
@nav-a-active-background-color: #698CC3;

// --- page 分页设置 ---
@page-strong-border: solid 1px #ddd;
@page-strong-color: white;
@page-strong-background-color: #698CC3;
@page-a-border: solid 1px #ddd;
@page-a-color: @body-color;
@page-a-background-color: @body-background-color;
@page-a-hover-border: @page-a-border;
@page-a-hover-color: @body-color;
@page-a-hover-background-color: #DBEAF5;

// --- hr 水平线设置 ---
@hr-border: solid 1px #ccc;

@import "main.less";