<div class="line-bottom">
    <span>任务名称</span>
    <span>归档时间</span>
</div>
<!--{loop $list $task}-->
    <div class="task-item clearfix <!--{if $task['status']==2}-->line-through<!--{/if}-->" id="task_{$task[taskid]}" taskid="$task[taskid]">
       <div class="task-item-main">
            <a class="task-item-check" data-taskid="$task[taskid]"><!--{if $task['status']!=2}--> <i class="dzz dzz-check-box-outline-blank"></i><!--{else}--><i class="dzz dzz-check-box"></i><!--{/if}--></a>
            <a class="task-item-title" href="javascript:;">$task[name]</a>
           
            <span class="time_span">{eval echo dgmdate($task[archivetime],'Y-m-d H:i');}</span>
          
            <div class="task-item-menu">
                <a href="javascript:;" class="action-icon js-popbox" title="激活" data-href="{DZZSCRIPT}?mod={MOD_NAME}&op=menu&do=taskmenu&taskid=$task[taskid]&step=13&a=active" data-taskid="$task[taskid]" data-placement="left" data-auto-adapt="true" style="margin-right:10px;"><i class="dzz dzz-restore"></i>激活</a>
            </div>
       </div> 
    </div>
<!--{/loop}--> 

<div class="task-more" >
     <!--{if $next}-->
     <button id="btn-load-more" class="btn btn-simple" btn-loading-text="加载中..." style="padding:8px 25px" onclick="getMore('$page')">加载更多</button>
     <!--{else}-->
     <p style="margin-top:20px;color:#999;text-align:center;">没有更多内容了</p>
     <!--{/if}-->
</div>

<script type="text/javascript">
jQuery('.task-item').mouseenter(function(){
    jQuery(this).find('.time_span').hide();
    jQuery(this).find('.task-item-menu').show();
})
jQuery('.task-item').mouseleave(function(){
    jQuery(this).find('.time_span').show();
    jQuery(this).find('.task-item-menu').hide();
})
</script>