.main {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #eee;
}
label {
  display: block;
  width: 105px;
}
input {
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent !important;
}
input.is-danger {
  color: red;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
input::-webkit-input-placeholder {
  color: #999;
}
input::-moz-placeholder {
  color: #999;
}
#login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  padding: 0 40px;
  z-index: 999;
  background: #fff;
}
#login .login_title {
  font-size: 56px;
  text-align: center;
  color: #07CA61;
  margin-top: 200px;
}
#login .login_info {
  width: 100%;
  height: auto;
  margin-top: 125px;
}
#login .login_info .login_phone,
#login .login_info .password {
  width: 100%;
  height: 118px;
  display: flex;
  align-items: Center;
  border-bottom: 1px solid #DADADA;
  position: relative;
}
#login .login_info .login_phone .icon_phone,
#login .login_info .password .icon_phone,
#login .login_info .login_phone .icon_pass,
#login .login_info .password .icon_pass {
  margin: 0 40px;
  display: inline-block;
  background-size: cover;
  position: relative;
}
#login .login_info .login_phone .icon_phone::after,
#login .login_info .password .icon_phone::after,
#login .login_info .login_phone .icon_pass::after,
#login .login_info .password .icon_pass::after {
  content: '';
  display: inline-block;
  height: 60px;
  width: 2px;
  border-right: 2px dashed #D8D8D8;
  position: absolute;
  left: 60px;
  top: -10px;
}
#login .login_info .login_phone .phone,
#login .login_info .password .phone,
#login .login_info .login_phone .pass,
#login .login_info .password .pass {
  position: absolute;
  font-size: 34px;
  margin-left: 144px;
}
#login .login_info .eye_open,
#login .login_info .eye_close {
  width: 45px;
  height: 29px;
  display: inline-block;
  background-size: cover;
  position: absolute;
  right: 59px;
}
#login .submit {
  width: 100%;
  line-height: 96px;
  color: #fff;
  font-size: 34px;
  margin-top: 93px;
  background: #07CA61;
  text-align: center;
  border-radius: 10px;
  border-color: transparent;
}
.icon_phone {
  height: 43.45px;
  width: 27.58px;
  background: url('/images/mobile/phone.png') no-repeat center center;
}
.icon_pass {
  width: 29px;
  height: 36px;
  background: url('/images/mobile/password.png') no-repeat center center;
}
.eye_open {
  background: url('/images/mobile/login-eyeso.png') no-repeat center center;
}
.eye_close {
  background: url('/images/mobile/eyec.png') no-repeat center center;
}
