@import '../../plugins/mobile/style/weui_font.less';
.search {
    position: relative;
    top: 88px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
.vux-search-fixed {
  position: fixed;
  left: 0;
  top: 88px;
  margin-top: 88px;
  z-index: 5;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(5px);
}
.vux-search-box {
  width: 100%;
}

.weui-cells.vux-search_show {
    display: none;

  .weui-cell:last-child {
    margin-bottom: 150px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::after {
    display: none;
  }
}
.vux-search-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  z-index: 5;
}
    .weui-search-bar {
    position: relative;
    padding: 14px 10px;
    display: flex;
    box-sizing: border-box;
    background: #fff;
    // background-color: @search-bg-color;
    &:before {
        // .setTopLine(#D7D6DC);
    }
    &:after {
        // .setBottomLine(#D7D6DC);
    }
    &.weui-search-bar_focusing{
        .weui-search-bar__cancel-btn{
            display: block;
        }
        .weui-search-bar__label{
            display: none;
        }
    }
}
.weui-search-bar__form {
    position: relative;
    flex: auto;
    background-color: #EFEFF4;
    &:after{
        content: '';
        position: absolute;
        left: 0;
        top:0;
        width: 200%;
        height: 200%;
        transform: scale(.5);
        transform-origin: 0 0;
        border-radius: 10px;
        border: 1px solid #E6E6EA;
        box-sizing: border-box;
        // background: transparent;
        background: #eee;
    }
}
.weui-search-bar__box {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    .weui-search-bar__input {
        // padding: 2px 0;
        padding-left: 20px;
        width: 100%;
        // height: 20/14em;// font-size: 14px;
        // line-height: 20/14em;
        height: 53px;
        border: 0;
        font-size: 30px;
        line-height: 53px;
        
        box-sizing: content-box;
        // background: transparent;
        background: #eee;
        &:focus {
            outline: none;
        }
    }
    .weui-icon-search {
        position: absolute;
        left: 10px;
        top: 10px;
        line-height: 48px;
        font-size: 26px;
    }
    .weui-icon-clear {
        position: absolute;
        top: 8px;
        right: 0;
        padding: 0 20px;
        line-height: 48px;
    }
}
.weui-search-bar__label {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    z-index: 2;
    border-radius: 3px;
    text-align: center;
    // color: @search-placeholder-font-color;
    // background: transparent;
    background: #eee;
    span {
        display: inline-block;
        font-size: 20px;
        margin-top: 15px;
    }
    .weui-icon-search {
        margin-right: 5px;
        margin-top: 10px;
        font-size: 26px;
    }
}
.weui-search-bar__cancel-btn {
    display: none;
    margin-left: 10px;
    margin-top: 5px;
    line-height: 48px;
    // color: @search-cancel-font-color;
    white-space: nowrap;
    color: #333;
}
.weui-search-bar__input:not(:valid) ~ .weui-icon-clear {
    display: none;
}

//干掉input[search]默认的clear button
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
}