
<a href="javascript:;" class="close-popup"><span class="dzz dzz-close"></a>
<div class="weui-popup__modal" style="background-color: #FFF"  id="view_modal_{$taskid}_commet">
	<style>
	
		.itemfeed .publishsharewrap{
			margin-left:0;
		}
		.document-comment{
			padding:15px;
		}
		.itemfeed:first-child{
			border-top:0;
		}
		
		.btn{
			font-size: 14px;
    		padding: 6px 25px;
		}
		
	</style>
	<!--{template common/header_simple_end}-->
	<section class="weui-panel-body">      
   <div id="comment_container_{$taskid}" class="document-comment clearfix"> 
	  <script type="text/javascript"> ajaxget('{DZZSCRIPT}?mod=comment&op=ajax&do=getcomment&idtype=task&id=$taskid&allowattach=3&allowat=1&allowsmiley=1','comment_container_{$taskid}','comment_container_{$taskid}')</script> 
	</div>
	<div id="comment_reply_form_{$taskid}" class="comment-reply-form clearfix">
	  <div class="itemfeed" >
		<div  class="cmt_fed right-ifed" id="task_reply_{$taskid}"> 
		  <script type="text/javascript">ajaxget('{DZZSCRIPT}?mod=comment&op=ajax&do=getPublishForm&id=$taskid&idtype=task&module=taskboard&allowattach=3&allowat=1&allowsmiley=1&targetid=comment_container_{$taskid}','task_reply_{$taskid}','task_reply_{$taskid}')</script> 
		</div>
	  </div>
	</div>
</section>
	</div>
<footer class="weui-tabbar weui-view-footer">

	<a href="javascript:;" onclick="showTaskPanel('$taskid');return false"  class="weui-tabbar__item">
	  <span class="dzz dzz-description"></span>
	  <p class="weui-tabbar__label">任务详情</p>
	</a>
	<a href="javascript:;" onclick="showTaskPanel('$taskid','comment');return false" class="weui-tabbar__item"> <span class="dzz dzz-comment"></span>
	  <p class="weui-tabbar__label">评论</p>
	</a> <a href="javascript:;" onclick="showTaskPanel('$taskid','event');return false" class="weui-tabbar__item"> <span class="dzz dzz-sensitive"></span>
	  <p class="weui-tabbar__label">动态</p>
	  </a>

	
</footer>
<script type="text/javascript" >
var cpurl='{MOD_URL}&op=cp&tbid=$tbid';
var ajaxurl='{MOD_URL}&op=list&tbid=$tbid';
function getEventMore_{$taskid}(page,uid){
    jQuery.get('{MOD_URL}&op=list&do=ajax&operation=getevent&taskid={$taskid}&tbid={$tbid}',{'page':parseInt(page)+1,'uid':uid},function(html){
        jQuery('#btn-load-more-{$taskid}').replaceWith(html);
    });
};
</script>
<script type="text/javascript" src="dzz/comment/scripts/comment.js?{VERHASH}"></script>
<script type="text/javascript" src="static/dzzthumb/jquery.dzzthumb.js?{VERHASH}"></script>
