<!DOCTYPE html>
<html>
	<head>
		<!--{template mobile/mobile_header}-->
		<title>我的任务板-活动</title>
	</head>
	<body>
	<div class="weui-tab">
	  <div class="weui-navbar">
	     <a class="weui-navbar__item weui-bar__item--on" href="#tab1">评论</a>
	     <a class="weui-navbar__item" href="#tab2">活动</a>	
	  </div>
		<div class="weui-tab__bd">
	      <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
	       <h1>页面一</h1>
	      </div>
	      <div id="tab2" class="weui-tab__bd-item">
	       <h1>页面二</h1>
	      </div>
		</div>
	</div>
	</body>
</html>
