input::-webkit-input-placeholder{
  color:#999;
}
input::-moz-placeholder{
  color:#999;
}
.col-xs-12{
  padding: 15px 65px 50px 80px;
  margin-top:25px;
  header{
    padding-left:0;
    padding-bottom: 20px;
    color: #333;
  }
  .row{
    .col-xs-5{
      text-align: right;
      .avatar_box{
        margin-right:80px;
        padding-top: 26px;
        img{
          height: 120px;
          border-radius: 60px
        }
      }
    }
    .btn-group{
      .col-xs-7{
        margin: 10px 80px 20px 80px;
        .tabs{
          color: #999;
          font-size: 16px;
          .active{
            color: #0ca6f2;
          }
        }
        form{
          margin-top: 40px;
          .form-group{
            width: 320px;
            .phone-block{
              border: 1px solid #dedede;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              width: 320px;
              height: 40px;
              color: #999;
              font-size:14px;
              span{
                padding-left:10px;
                padding-top:3px;
                i{
                  font-size: 16px;
                }
              }
              input{
                border: none;
                float:left;
                outline: none;
                padding: 0 0 0 10px;
                width: 280px;
              }
            }
            .password-block{
              border: 1px solid #dedede;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              width: 320px;
              height: 40px;
              color: #999;
              font-size:14px;
              span{
                padding-left:10px;
                padding-top:3px;
                i{
                  font-size: 16px;
                }
              }
              input{
                border: none;
                float:left;
                outline: none;
                padding: 0 0 0 10px;
                width: 250px;
              }
              div{
                a{
                  width: 100%;
                  height: 100%;
                  color: #999;
                  margin-left: 15px;
                }
              }
            }
            .code-block{
              display: flex;
              justify-content: flex-start;
              .code-input{
                border: 1px solid #dedede;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 210px;
                height: 40px;
                color: #999;
                font-size:14px;
                span{
                  padding-left:10px;
                  padding-top:3px;
                  i{
                    font-size: 16px;
                  }
                }
                input{
                  border: none;
                  float:left;
                  outline: none;
                  padding: 0 0 0 10px;
                  width: 160px;
                }
              }
              .send-btn{
                margin-left: 10px;
                width: 100px;
                height: 40px;
                border: 1px solid #dedede;
                background: #f7f7f7;
                a{
                display:block;
                  text-align: center;
                  line-height: 40px;
                  color:#999;
                }
              }
            }
            .user-block{
              border: 1px solid #dedede;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              width: 320px;
              height: 40px;
              color: #999;
              font-size:14px;
              span{
                padding-left:10px;
                padding-top:3px;
                i{
                  font-size: 16px;
                }
              }
              input{
                border: none;
                float:left;
                outline: none;
                padding: 0 0 0 10px;
                width: 250px;
              }
            }
          }
          .btnbox{
            width: 320px;
            a{
              background-color: #ccc;
              width: 120px;
              height: 40px;
              text-shadow: none;
            }
            div{
              width: 10px;
              background-color: white;
            }
            button{
              background-color: #0ca6f2;
              width: 188px;
              height: 40px;
              color: #fff;
              text-shadow: none;
            }
          }
          .user-protocol{
            padding-top:15px;
            div{
              color:#999;
              a{
                color: #0ca6f2;
              }
            }
          }
        }
      }
    }
  }
}
.code-prompt{
  display: none;
  margin-bottom:15px;
  color: #808080;
  i{
    color: #67c907;
  }
}
.mask{
  display: none;
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 100;
  padding: 10px 30px;
  width: 400px;
  height: 220px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-top: 3px solid #0ca6f2;
  background-color: #ffffff;
  h3{
    text-align: center;
    border-bottom: 1px solid #0ca6f2;
    color: #0ca6f2;
    padding-bottom:10px;
  }
  .row{
    padding: 10px 0;
    .code-img{

    }
    .input-box{
      border: 1px solid #d1d1d1;
      border-radius: 4px;
      height: 40px;
      padding: 7px 2px 7px 7px;
      input{
        border: none;
        outline: none;
        padding: 0 0 0 10px;
        width: 130px;
        font-size: 14px;
      }
    }
    button{
      border: none;
      width: 60px;
      height: 30px;
      border-radius: 4px;
      margin: 0 auto;
      display: block;
    }
  }
}
.btn-check-login{
  .checkbox{
    margin-top: 0;
  }
}
.btn-login{
  color: #ffffff;
  border: none;
  line-height: 40px;
  padding: 0 20px;
  flex-grow: 2;
  background: #0ca6f2;
  width: 120px;
  height: 40px;
}
.verify-check{
  z-index: 1001;
}