<style>
    .bs-left-container.affix-top {
        background-color: rgba(247, 248, 250, 1);
    }
    .setting-active {
        background-color: rgba(215, 221, 232, 1);
        color: #424242;
    }
    .bs-left-container .setting-ul>li>a:hover {
        background-color: #eeedf2;
        color: #424242;
    }
    .bs-left-container .nav-stacked>.setting-active>a {
        font-weight: 600;
    }
    .bs-left-container .setting-ul>.setting-active>a:hover {
        background-color: rgba(215, 221, 232, 1);
        color: #424242;
    }
    .setting-active>a {
        color: #424242 !important;
    }
</style>
<ul class="nav nav-pills nav-stacked nav-pills-leftguide setting-ul" >
    <li<!--{if $do=='basic'}--> class="setting-active"<!--{/if}-->> <a href="{MOD_URL}&op=setting&do=basic" ><i class="dzz dzz-settings" style="margin-right: 14px;font-size: 22px;vertical-align: -4px;"></i>{eval echo lang('basic_set')}</a>
    <li<!--{if $do=='jilu'}--> class="setting-active"<!--{/if}-->> <a href="{MOD_URL}&op=setting&do=jilu" ><i class="dzz dzz-assignment" style="margin-right: 14px;font-size: 22px;vertical-align: -4px;"></i>{eval echo lang('jilu_manage')}</a>
    <li<!--{if $do=='wxapp'}--> class="setting-active"<!--{/if}-->> <a href="{MOD_URL}&op=setting&do=wxapp" ><i class="dzz dzz-wechat" style="margin-right: 14px;font-size: 22px;vertical-align: -4px;"></i>{eval echo lang('wechat_set')}</a>
    <li<!--{if $do=='wxmp'}--> class="setting-active"<!--{/if}-->> <a href="{MOD_URL}&op=setting&do=wxmp" ><i class="dzz dzz-group" style="margin-right: 14px;font-size: 22px;vertical-align: -4px;"></i>{eval echo lang('p_wechat_set')}</a>
</ul>                                          